label {
  display: grid;
  place-content: center;
  width: 400px;
  height: 100px;
  color: grey;
  border: 2px dashed currentColor;
  border-radius: 10px;
  font-weight: bold;

  &.waiting, &.drag-over {
    cursor: pointer;
  }

  &.waiting fa-icon {
    color: cornflowerblue;
  }

  &.drag-over {
    color: cornflowerblue;
    font-size: 1.2em;
  }
  &.failed {
    color: crimson;
    &:hover span:first-of-type {
      transform: scale(1.6);
      cursor: pointer;
    }
  }
  &.completed {
    color: forestgreen;
  }

  padding: 2rem;
}

p {
  display: flex;
  gap: 1rem;

  transition: font-size 200ms ease;

  & span:first-child {
    display: flex;
    align-items: center;
  }
}

h1 {
  margin-top: 0;
}
