.container {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;

  .forms {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.piezas-container {
  width: min-content;
  p {
    font-size: .8rem;
    a {
      color: lightblue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
